{%extends 'student_template/base_template.html'%}
{% load static%}
{% block base%}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/staff_style.css' %}">
{% endblock custom_css %}
{% include 'hod_template/messages.html'%}
<h3 class='head'>Student Notification Details</h3>

<div class="container">

  <div class="card mt-4">
    <div class="card-header main">Notifications</div>
    <div class="card-body">
       <div class="form-group">
         <table>
           <tr><th>Messages</th></tr>
           {%for student in students %}
           <tr><td>{{student.message}}</td></tr>
           {%endfor%}
         </table>

              </div>
</div></div></div>
{% endblock  %}
