
{%extends 'student_template/base_template.html'%}
{% load static%}
{% block base%}
{% block custom_css %}
<link rel="stylesheet" href="{% static "css/staff_style.css" %}">

{% endblock custom_css %}
{% include 'hod_template/messages.html'%}

<h3 class='head'>Staff FeedBack</h3>

<div class="container">

<div class="card mt-4">
  <div class="card-header main">Leave a feed back message</div>

  <form class="" method='POST' >
{%csrf_token%}
  <div class="card-body">

    <div class="form-group">
      <label for="validationCustom10">FeedBack Message</label>
      <textarea  rows="8" cols="80" placeholder="Your feedback.." name="feedback" class="form-control"></textarea>
    </div>
      <button type="submit" class="btn btn-primary btn-block" id="fetch_student">Submit Feedback</button>
    </div>

  </form>

  </div>

  <div class="card mt-4">
    <div class="card-header main">Feedback History</div>
    <div class="card-body">
      <div class="card">
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>FeedBack Message</th>
              <th> FeedBack Reply</th>
          </tr>
          {% for i in student_details %}
          <tbody>
            <td>{{i.id}}</td>
            <td>{{i.feedback}}</td>
            <td>{{i.feedback_reply}}</td>

          </tbody>
          {% endfor%}
        </thead>
        <tbody>

        </tbody>
      </table>
      </div>

      </div>
    </div>


  </div>

{% endblock %}
