{%extends 'hod_template/base_template.html'%}
{% load static%}
{% block base%}
{% block custom_css %}
<link rel="stylesheet" href="{% static "css/staff_style.css" %}">

{% endblock custom_css %}
{% include 'hod_template/messages.html'%}

<h3 class='head'>Add Subject Details</h3>

<div class="container">

<div class="card mt-4">
  <div class="card-header main">Subject Detail Form</div>
  <div class="card-body">

    <form class="needs-validation"  method='POST' novalidate>
      <div class="form-group">
        <label for="validationCustom10">Subject Name</label>
        <input type="text" class="form-control" name="subject" placeholder="Enter Subject Name" id="subject">
          <div class="invalid-feedback">
            Please provide valid subject.
          </div>
      </div>

      <div class="form-group">
        <label for="validationCustom10">Course Name</label>
        <select class="form-control" name='course'>
          {% for course in courses%}
      <option value={{course.id}}>{{course.course_name}}</option>
      {% endfor %}

      </select>
      </div>

      <div class="form-group">
        <label for="validationCustom10">Staff Name</label>
        <select class="form-control" name='staff'>
          {% for staff in staffs %}
          <option value={{staff.id}}>{{staff.first_name}} {{staff.last_name}}</option>
          {%endfor%}

  </select>
      </div>

  <button class="btn btn-primary btn-block" type="submit">Add Subject</button>
  {%csrf_token%}
</form>
    </div>
  </div>

</div>
{% endblock %}
