<div class="form-group message">
                   {% if messages %}
                     {% for message in messages %}
                     {% if message.tags == 'error' %}
                     <div class="alert alert-danger" style="margin-top:10px"><strong>{{ message }}</strong></div>
                     {% endif %}
                     {% if message.tags == 'success' %}
                     <div class="alert alert-success" style="margin-top:10px"><strstrong>{{ message }}</strstrong></div>
                     {% endif %}
                     {% endfor %}
                   {% endif %}
                 </div>
